.container {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

/* Desktop */
.item {
    flex: 0 1 30%;
    background-color:darkgray;
    border: solid black;
}

/* Tablet */
@media (max-width: 900px) {
    .item {
        flex-basis: 48%;
    }
}

/* Mobile */
@media (max-width: 600px) {
    .item {
        flex-basis: 100%;
    }
}