.container{
    display: grid;
    grid-template-columns:  1fr 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
    padding: 10px;
    gap: 15px;
}
.card{
    background-color: thistle;
    border: solid black;
}