.container {
    display: flex;
    gap: 12px;
    
}
.item{
    background-color: thistle;
    border: solid black;
    padding: 15px;
}

/* Ajuste as ordens: */
.i3 {
    order: 1;
}

.i1 {
    order: 2;
}

.i2 {
    order: 3;
}