.container {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 0;
}
.item{
    background-color: thistle;
    padding: 15px;
    width: 10rem;
    border: solid black;
}
.item2{
    width: 25rem;
}