.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:aqua;
    border-radius: 5px;
}


.menu {
    list-style: none;
    display: flex;
    gap: 12px;
    justify-content: space-between;
}
a{
    color:black;
    text-decoration: none;
}



