.item:nth-child(2) {
    height: 60px;
}

.item:nth-child(3) {
    height: 100px;
}

.container {
    display: flex;
    align-items: center;
    gap: 12px;
    height: 100vh;
}
.item{
    background-color:rgb(19, 112, 112);
    border: solid black;
}