body{
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 20px;
}
.container{
    max-width: 900px;
    margin: 0 auto;
    background-color: #ffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}
h1,h2{
    color: #333;
    border-bottom: 2px solid #e0e0e0;
    padding-bottom: 10px;
    margin-bottom: 25px;
}

/* Formulario adição de usuario */
.add-user-form{
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}
.add-user-form input{
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.add-user-form button{
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.add-user-form button:hover{
    background-color: #218838;
}